Repository VoronDesign/Voron-2, pull requests merged in 2019-11, with the labels that each got.

#48 I've added files for Waveshare 5inch lcd cover
  mods/OrkusMG/Waveshare5inchHDMILCDscreenCover/BackLCDcover.stl
  mods/OrkusMG/Waveshare5inchHDMILCDscreenCover/CoverFor5inchLCD.f3d
  mods/OrkusMG/Waveshare5inchHDMILCDscreenCover/FrontLCDCover.stl
  mods/OrkusMG/Waveshare5inchHDMILCDscreenCover/ReadMe.md
  mods/OrkusMG/Waveshare5inchHDMILCDscreenCover/front.jpg
  mods/OrkusMG/Waveshare5inchHDMILCDscreenCover/side.jpg
  mods/OrkusMG/Waveshare5inchHDMILCDscreenCover/top.jpg
  mods/README.md
Labels: mod

#61 Repair STL issues with XY Bridge and Idler Frame, side skirts were 1mm short
  STLs/VORON2.1/ZipChain/XY/v21_xy_bridge_+20mm_x1_Rev1.STL
  STLs/VORON2.1/ZipChain/XY/v21_xy_bridge_+20mm_x1_Rev2.STL
  STLs/VORON2.1/ZipChain/XY/v21_xy_bridge_x1_Rev1.STL
  STLs/VORON2.1/ZipChain/XY/v21_xy_bridge_x1_Rev2.STL
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/front_rear_skirt_b_150spec_x1_Rev2.STL
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/front_rear_skirt_b_200spec_x2_Rev2.STL
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/front_rear_skirt_b_250spec_x2_Rev2.stl
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/front_rear_skirt_b_300spec_x2_Rev2.stl
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/front_rear_skirt_b_350spec_x2_Rev2.stl
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/mains_plug_panel_filtered_x1_Rev1.STL
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/mains_plug_panel_filtered_x1_Rev2.STL
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_150spec_x2_Rev1.STL
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_150spec_x2_Rev2.STL
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_a_200spec_x2_Rev1.STL
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_a_200spec_x2_Rev2.STL
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_a_250spec_x2_Rev1.stl
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_a_250spec_x2_Rev2.stl
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_a_300spec_x2_Rev1.stl
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_a_300spec_x2_Rev2.stl
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_a_350spec_x2_Rev1.stl
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_a_350spec_x2_Rev2.stl
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_b_200spec_x2_Rev1.STL
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_b_200spec_x2_Rev2.STL
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_b_250spec_x2_Rev1.stl
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_b_250spec_x2_Rev2.stl
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_b_300spec_x2_Rev1.stl
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_b_300spec_x2_Rev2.stl
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_b_350spec_x2_Rev1.stl
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_b_350spec_x2_Rev2.stl
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_center_x2_Rev1.stl
  STLs/VORON2.2/Bottom_Skirts_+_Decorative_Parts/Skirts/side_skirt_center_x2_Rev2.stl
  STLs/VORON2.2/Z_Drive/Z_Idlers/9mm_z_idler_frame_mirror_x2_Rev2.stl
  STLs/VORON2.2/Z_Drive/Z_Idlers/9mm_z_idler_frame_mirror_x2_Rev3.stl
  STLs/VORON2.2/ZipChain/XY/xy_bridge_+20mm_x1_Rev1.STL
  STLs/VORON2.2/ZipChain/XY/xy_bridge_+20mm_x1_Rev2.STL
  STLs/VORON2.2/ZipChain/XY/xy_bridge_x1_Rev1.STL
  STLs/VORON2.2/ZipChain/XY/xy_bridge_x1_Rev2.STL
Labels: fix

#62 Re-add BMG mod for 2.1 / 2.2
  mods/README.md
  mods/warriorofwire/bmg_direct_drive/README.md
  mods/warriorofwire/bmg_direct_drive/fan_mount.stl
  mods/warriorofwire/bmg_direct_drive/gumby_mount_mosquito.stl
  mods/warriorofwire/bmg_direct_drive/gumby_mount_v6.stl
  mods/warriorofwire/bmg_direct_drive/steps/fan_mount.step
  mods/warriorofwire/bmg_direct_drive/steps/gumby_mount_mosquito.step
Labels: mod

#71 Swap XY Bridge +20mm parts between 2.1 and 2.2 to resolve issue #70
  STLs/VORON2.1/ZipChain/XY/v21_xy_bridge_+20mm_x1_Rev2.STL
  STLs/VORON2.2/ZipChain/XY/xy_bridge_+20mm_x1_Rev2.STL
Labels: V2.1, V2.2, fix
